seed: 0


# Environment and Start and Goal
env_extent: [-5, 5, -5, 5] # [xmin, xmax, ymin, ymax]
# environment extent should be slightly larger than task extent
# otherwise, the robot might go out of boundary and cannot access matrix value
# If env or global start becomes 0 if gets weird. 

initial_start:   [1, -4.5]
global_goal:    [1.5, 4.5] 
heading_start:  90


# Hills
# [-4.5, 1]
# [3.5, 0.5]
# 0
# Const
# [1, -4.5]
# [1.5, 4.5] 
# 90
# urban
# [4.4, 4.6]
# [-4, 0]   
# -135
# showcase
# [-4.5, 4.5]
# [4.5, -4.5]   
# -45

# Hardware
# [0, 0]
# [5, 0]   
# 0


# Mapping
trav_estimation_resoultion: 0.5 # m
local_patch_size: 0.64  # m

# ROS-related
frame_id: 'map' # World frame id
which_layer: ['inpaint', 'smooth']
# which_layer: ['smooth']
mean_over_maps: True # If false, the first layer is used for data and the second layer is used for deciding if it is NaN

elevation_diff_threshold: 0.03
RandomRate_TravUpdate: 0.3
initialization_time: 20

# ROS Publishing
use_gridmap_msg: 1  # True for GridMap, False for Float32MultiArray
pub_locally: False # if false, the entire map is published
localmap_getwaypoint_horizonmultiplier: 2.5
savemap: 1 # save the map as png once 
debugging_visualization: False 

# Traversability 
trav_option: 'Proposed' #['Proposed', 'IHMC', 'Quadruped'] # change default_travelcost in the planner_config.yaml
planner_option: 'safecmd' # ['safecmd', 'score']
local_cmd_option: 'score_travcmd' #[max, 'score_travcmd']
# TAKE CARE OF MAX OPTION, SINCE IT IS NOT FULLY TESTED IN THE NEW CODE STRUCTURE YET

# safe cmd planner
maximum_cmd_v: 0.5
maximum_cmd_w: 0.3
default_safe_cmd_v: 0.248 # Should not be an integer multiplier of v_res = maximum_cmd_v/num_commands
default_safe_cmd_w: 0.148
toorisky_v: 0.0001
toorisky_w: 0.0001
obstacle_cmd_v_threshold: 0.1
num_commands: 10

instability_limit: 3
instability_std_multiplier: 2


####################### Hardware Configurations #######################
# Perception
ptcloud_publishers_list:  ['zed'] #['lidar', 'depth_shoulder', 'depth_torso'] #, 'zed']

yaw_offset: 1.353
pos_offset: [0, 0, 1]
# If Digit pose is [r, p, y, a, b, c]
# then -> yaw = -y, pos = (0,0,h) - (a,b,c)




####################### Planning Configurations #######################
# score-based planner
cost_weight: 3
cost_power: 1
scorebased_safe_cmd_v: 0.25 # should be = maximum_cmd_v * 0.5(=initial guess score)
scorebased_safe_cmd_w: 0.15


## Planning
do_RRT_globalplanning: True # if false, RRT* doesnt run and only mapping works
asynchronous_globalplanning: True # if false, global planning is done together with the mapping



# RRT*
goal_radius_ratio: 0.05 # ratio of the goal radius to the environment extent

switch_to_informed_from_thisiter: 360 # if 0, vanilla RRT is used
iter_max: 400
branch_length_max_ratio: 0.1
search_radius_ratio: 0.8
convergence_ratio: 0.001

RRT_getwaypoint_steps: 10


sampling_dist: 0.1  # m
num_samplingpoints: None









## MPC
MPC_horizon: 7
robust_horizon: 0

ub_u_ddtheta: 0.03

# waypoint
getwaypoint_ratio: 1.2

# get_cmd_limit
lookahead_distance: 1.5
lookahead_angle: 30 # deg
safecmd_sampling_dist: 0.1

num_obs: 3

# debug
debug_print: False
print_until_t: 5
global_view: False
local_view_radius: 3.4

obs_clearance: 0.1  # m




## Controller
step_T: 0.45






#